# 백엔드 REST API 계약의 **참조본**이다 (source of truth 는 백엔드 저장소의 docs/api-spec.md).
# - 프론트엔드는 이 문서를 보고 구현하고, 실제 응답이 다르면 백엔드 저장소에 이슈로 올린 뒤 이 파일을 맞춘다.
# - 2026-09-13: 백엔드가 공개한 api-spec.md(Base URL /api · 공통 봉투 {success,data|error})로 통째로 교체했다 (Phase 01 T6 · Q3).
# - 2026-09-13 r2: WKS-BE dev b61f849(api-spec.md 20:49) 대조로 다시 맞췄다 — 사주 입력(calendarType·isLeapMonth, birthRegion 제거, 시진 가운데 시각·자시 두 칸),
#   결과 응답(shareId·zodiac·등급 6단계·compatibilities), 공유 경로(/shares/{shareId} 조회·궁합), traceId 미구현.
# - 2026-09-24: WKS-BE dev 2e615ca 대조 — 궁합 상세 이유 GET /compatibilities/{id}/reason(#79·#80), 결과의 잘 맞는 오행 elementMatch(#82),
#   궁합 항목에 id 추가, 결과 목록의 궁합 요약을 코드 모양({ id, nickname, score, tier, createdAt })으로 바로잡음, ErrorCode 1:1 맞춤.
#   로그인(/auth/kakao·/me)은 쿠키 방식으로 다시 바뀌는 중이라 아직 넣지 않았다.
# - 2026-09-24 (10/T1): 백엔드 api.md(2026-09-24 공유본, 운영 Swagger 장애 중) 로 GET /results/{id}/input ·
#   POST /signups/photo-upload-url · GET /me 를 더했다. /me 의 인증 전달 방식(Bearer 헤더 vs 쿠키)은 미정이라
#   security 를 적지 않았다 — 09/T2 가 /auth/kakao 와 함께 정한다.
# - 2026-09-25 (spec-cookie-auth-contract): 로그인 계약을 **FE 가정안**으로 넣었다 — 백엔드 api-spec.md §9 초안(dev 5ec80d2)의
#   POST /auth/kakao · GET /me · GET /me/result 를 그대로 두고, 토큰 전달만 NFR-7 대로 HttpOnly 쿠키로 바꿨다(응답 body 에 token 없음,
#   Authorization 헤더 없음). 로그아웃은 쿠키를 지워야 하므로 POST /auth/logout 을 더했다. 백엔드 쿠키 전환 전이라 실제 모드에서는
#   아직 동작하지 않는다 — 백엔드 구현이 확정되면 이 줄을 지우고 실제 값으로 맞춘다. 가정한 값은 [가정] 으로 표시했다.
# - 디자인·PRD 에는 있으나 이 계약에 없는 것(인연카드 등급 cardGrades · 사전신청 추가 정보 Q14 · 후보 · 운명의 실)은 넣지 않았다 — PRD Open Questions.
# - 백엔드 문서가 값을 확정하지 않은 곳은 description 에 [미확인] 을 붙였다.
# - 검증 예: npx @redocly/cli lint docs/api/openapi.yaml
openapi: 3.1.0
info:
  title: 운꿰사 API (frontend reference copy)
  version: 0.3.0
  description: |
    사주 결과·친구 궁합·소개팅 사전등록을 제공하는 백엔드 API. 이 사본은 프론트엔드가 소비하는 계약의 참조본이다.
    - 모든 응답은 `{ success: true, data }` 또는 `{ success: false, error }` 봉투로 온다. HTTP 상태코드도 함께 맞춘다.
    - JSON 키는 camelCase. 날짜는 `yyyy-MM-dd`, 시각은 ISO-8601 UTC(`Z`). **null 필드도 키를 유지한다.**
    - `error.message` 는 사용자에게 그대로 보여줄 수 있는 한국어다. 문서의 `traceId` 는 백엔드 코드(ErrorResponse)에 아직 없다.
    - Swagger UI `/swagger-ui.html` · OpenAPI JSON `/v3/api-docs` 는 참고용이고 원본은 백엔드의 api-spec.md 다.
security: []   # 사주·궁합에 인증·세션이 없다 — 백엔드는 링크 키(resultId·shareId, UUIDv4)만 쓰고 토큰을 발급하지 않는다 (ADR-20260914-result-ownership-in-browser)
servers:
  - url: https://api.threadoffate.site/api
    description: "운영 (ADR-20260914-netlify-personal-fork) — 프론트 origin https://threadoffate.site·https://www.threadoffate.site 를 CORS 에 허용해야 한다. /api 접두는 백엔드 확인 전 가정 [미확인]"
  - url: http://localhost:8080/api
    description: "Local development — Base URL 은 /api. 백엔드 CORS 기본값은 http://localhost:3000 (CORS_ALLOWED_ORIGINS)"
tags:
  - name: results
    description: 사주 생성·본인 결과 조회 (운명 카드)
  - name: shares
    description: 공유 링크 — 링크 주인의 공개 결과 조회와 친구 궁합
  - name: compatibilities
    description: 친구 궁합 상세 — 궁합 ID 로 이유를 연다
  - name: signups
    description: 소개팅 사전등록 (학교 웹메일 매직링크 인증)
  - name: auth
    description: (V1) 카카오 로그인·로그아웃 — 세션은 HttpOnly 쿠키
  - name: me
    description: (V1) 로그인한 계정의 상태 요약
  - name: dating
    description: (V1) 소개팅 프로필과 오늘의 인연 추천
  - name: health
    description: 헬스체크
paths:
  /results:
    post:
      operationId: createResult
      summary: 사주 입력으로 결과를 만든다 — 계산 + 해석 생성 (FR-2, FR-3)
      description: "3~10초 걸릴 수 있다. 프론트는 로딩 UX 필수. 응답의 `compatibilities` 는 빈 배열이다."
      tags: [results]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResultRequest" }
      responses:
        "201":
          description: 생성됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResultResponse" }
        "400":
          description: "INVALID_INPUT — 유효성 검증 실패, 존재하지 않는 음력 날짜(그 달에 없는 30일 · 그 해에 없는 윤달) 포함"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "503":
          description: LLM_UNAVAILABLE — 해석 생성 실패
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /results/{resultId}:
    get:
      operationId: getResult
      summary: 본인 결과 재방문 조회 (FR-3, FR-8). LLM 재호출 없이 DB 에서 반환
      description: "가장 트래픽이 몰리는 엔드포인트. `luckyItem`·`luckyPlace` 는 조회 시점(오늘 일진)으로 계산하므로 날마다 다를 수 있다."
      tags: [results]
      parameters:
        - { name: resultId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: 조회됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResultResponse" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /results/{resultId}/input:
    get:
      operationId: getResultInput
      summary: 결과를 만들 때 넣은 입력값 — 재입력 폼 자동 채움 (FR-25 소개팅 프로필 (1/2))
      description: "필드는 `ResultRequest` 와 같다. `birthDate` 는 입력 원본이라 음력으로 넣었으면 음력 날짜다. 생년월일·성별이 들어 있으므로 `resultId` 를 주소·화면에 내지 않는다. 백엔드 api.md §2 (2026-09-24) [미확인: 운영 Swagger 대조 전]"
      tags: [results]
      parameters:
        - { name: resultId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: 조회됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/ResultInput" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /shares/{shareId}:
    get:
      operationId: getSharedResult
      summary: 공유 링크 진입 — 링크 주인의 공개 결과와 궁합 지도 (FR-14, FR-15)
      description: "응답 구조는 결과 조회와 같지만 `resultId`·`shareId` 가 없다. 화면은 주인의 사주 요약(운명 제목·등급)을 보여주지 않는다(FR-15) — 닉네임 노출 여부는 PRD Q12."
      tags: [shares]
      parameters:
        - { name: shareId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: 조회됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SharedResultResponse" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /shares/{shareId}/compatibility:
    post:
      operationId: createCompatibility
      summary: 친구 궁합 — 방문자가 자기 사주를 만든 직후 링크 주인과의 점수를 만든다 (FR-6, FR-7, FR-14)
      description: "`{shareId}` = 링크 주인의 공개 ID, `guestResultId` = 방문자가 방금 `POST /results` 로 만든 결과. 이미 있는 조합이면 재계산 없이 기존 값을 200 으로 돌려준다. score(A,B) == score(B,A)."
      tags: [shares]
      parameters:
        - { name: shareId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guestResultId]
              properties:
                guestResultId: { type: string, format: uuid, description: "방문자가 만든 resultId" }
      responses:
        "201":
          description: 새로 산출됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityResponse" }
        "200":
          description: 이미 있는 조합 — 기존 값
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityResponse" }
        "400":
          description: "SELF_COMPATIBILITY (링크 주인 결과 == guestResultId) · INVALID_INPUT"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /compatibilities/{id}/reason:
    get:
      operationId: getCompatibilityReason
      summary: 궁합 상세 이유 — 세 질문의 답 (FR-22)
      description: "처음 열어볼 때 생성해 캐싱하므로 첫 호출만 느리다(최대 30초). 두 사람이 같은 내용을 본다. `id` 는 궁합 요약·궁합 생성 응답의 `id`."
      tags: [compatibilities]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer, format: int64 }, description: "궁합 ID (순번)" }
      responses:
        "200":
          description: 조회됨 (첫 호출이면 생성 후)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityReasonResponse" }
        "404":
          description: COMPATIBILITY_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "503":
          description: "LLM_UNAVAILABLE — 생성 실패. 해당 영역만 미노출하고 다시 시도할 수 있다"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups:
    post:
      operationId: createSignup
      summary: 소개팅 사전등록 (FR-9, FR-10)
      description: "백엔드 `SignupController` 가 `/api/signups` 에 매핑한다. 2026-09-16 확장(WKS-BE 981b487)으로 이름·연락처·학과·MBTI·자기소개가 추가됐고 전부 nullable 이며, 같은 날 운영에 배포돼 운영 스펙(https://api.threadoffate.site/v3/api-docs)과 일치한다. `mailSent: false` 여도 신청은 성공이다. 사진은 받지 않기로 했다(2026-09-17)."
      tags: [signups]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignupRequest" }
      responses:
        "201":
          description: 접수됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/SignupResult" }
        "400":
          description: INVALID_EMAIL_DOMAIN (학교 웹메일 아님) · INVALID_INPUT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: RESULT_NOT_FOUND — `resultId` 로 조회되는 사주 결과 없음
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: DUPLICATE_SIGNUP — 이미 신청한 이메일
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups/photo-upload-url:
    post:
      operationId: issuePhotoUploadUrl
      summary: 사진 업로드용 S3 URL 발급 — 받은 `uploadUrl` 에 파일을 그대로 PUT 한 뒤 `photoKey` 를 저장 요청에 싣는다
      description: "PUT 의 `Content-Type` 은 요청에 보낸 값과 같아야 한다(다르면 S3 서명 불일치). `uploadUrl` 은 `expiresInSeconds`(600초) 동안만 쓸 수 있다. 소개팅 프로필 사진(FR-25)이 이 경로를 그대로 쓰는지는 [미확인] — 백엔드 api.md §4 (2026-09-24)."
      tags: [signups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contentType]
              properties:
                contentType: { type: string, enum: [image/jpeg, image/png, image/webp] }
      responses:
        "200":
          description: 발급됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/PhotoUploadUrl" }
        "400":
          description: INVALID_INPUT — 허용하지 않는 contentType
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups/resend:
    post:
      operationId: resendSignupMail
      summary: 인증 메일 재발송. 이미 인증 완료된 이메일이면 400
      tags: [signups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: 재발송 처리
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/ResendSignupResult" }
        "400":
          description: 이미 인증 완료 · INVALID_INPUT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups/verify:
    get:
      operationId: verifySignup
      summary: 매직링크 클릭 — 성공 시 프론트 완료 페이지로 302. 브라우저가 직접 여는 링크이며 프론트가 호출하지 않는다
      description: "리다이렉트 대상은 백엔드 설정값 `app.frontend.verify-redirect-url` 이고 기본값이 `http://localhost:3000/verify` 다(WKS-BE application.yml) — 프론트는 `/verify`(SCR-14)로 받는다. 토큰 유효기간 30분, 사용 후 재사용 불가."
      tags: [signups]
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses:
        "302":
          description: 인증 성공 — 프론트 완료 페이지로 이동
          headers:
            Location: { schema: { type: string, format: uri } }
        "400":
          description: INVALID_TOKEN — 만료·위조·재사용
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /dating/profile/photo:
    post:
      operationId: issueDatingPhotoUrl
      summary: (V1) 프로필 사진 업로드 준비 — S3 임시 주소와 `photoId` 발급 (FR-25)
      description: "파일을 받지 않는다. 받은 `uploadUrl` 에 파일을 그대로 PUT 하고(`Content-Type` 은 요청의 `contentType` 과 같아야 한다) `photoId` 를 프로필 등록에 싣는다. `uploadUrl` 은 `expiresInSeconds`(600초) 동안만 유효한 업로드 전용 주소이며 조회 URL 이 아니다. WKS-BE api-spec.md §10.1 (dev 5ec80d2)."
      tags: [dating]
      security: [{ cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contentType]
              properties:
                contentType: { type: string, enum: [image/jpeg, image/png, image/webp] }
      responses:
        "200":
          description: 발급됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/DatingPhotoUpload" }
        "400":
          description: INVALID_INPUT — 허용하지 않는 contentType
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: UNAUTHENTICATED
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /dating/profile:
    post:
      operationId: createDatingProfile
      summary: (V1) 소개팅 프로필 등록 (FR-25)
      description: "모든 필드가 필수다. 사주는 **계정에 연결된 결과**를 쓰므로 `resultId` 를 보내지 않는다 — 계정에 결과가 없으면 404 RESULT_NOT_FOUND 다. `photoId` 는 이 회원에게 발급됐고 S3 업로드가 끝난 사진이어야 한다. WKS-BE api-spec.md §10.2 (dev 5ec80d2)."
      tags: [dating]
      security: [{ cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DatingProfileRequest" }
      responses:
        "201":
          description: 등록됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/DatingProfile" }
        "400":
          description: INVALID_INPUT — 형식 오류 · 업로드되지 않은 photoId
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: UNAUTHENTICATED
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: RESULT_NOT_FOUND — 계정에 연결된 사주 결과 없음
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: DATING_PROFILE_CONFLICT — 프로필 또는 학교 이메일 중복
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /dating/profile/me:
    get:
      operationId: getMyDatingProfile
      summary: (V1) 내 소개팅 프로필 조회
      tags: [dating]
      security: [{ cookieAuth: [] }]
      responses:
        "200":
          description: 조회됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/DatingProfile" }
        "401":
          description: UNAUTHENTICATED
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: DATING_PROFILE_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    patch:
      operationId: updateMyDatingProfile
      summary: (V1) 내 소개팅 프로필 수정 — 전체 필드를 보낸다
      description: "학교 이메일을 바꾸면 `emailVerified` 가 다시 false 가 되고, 재인증 전에는 추천 조회·매칭 요청이 막힌다. 이름만 바꾸면 인증 상태는 유지된다. WKS-BE api-spec.md §10.3."
      tags: [dating]
      security: [{ cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DatingProfileRequest" }
      responses:
        "200":
          description: 수정됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/DatingProfile" }
        "400":
          description: INVALID_INPUT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: UNAUTHENTICATED
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: DATING_PROFILE_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: DATING_PROFILE_CONFLICT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /me:
    get:
      operationId: getMe
      summary: (V1) 내 정보 — 로그인 여부 판단의 단일 출처 (FR-24, ARCHITECTURE V1)
      description: "인증 필요(세션 쿠키). 쿠키가 없거나 만료·위조면 401 UNAUTHENTICATED — 프론트는 이것을 비로그인으로 다룬다. `hasDatingProfile`·`threadBalance` 는 소개팅·실 기능 전에는 false·0 으로 온다."
      tags: [me]
      security: [{ cookieAuth: [] }]
      responses:
        "200":
          description: 로그인 상태
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/Me" }
        "401":
          description: UNAUTHENTICATED — 비로그인·토큰 만료·위조
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /me/result:
    get:
      operationId: getMyResult
      summary: (V1) 계정에 연결된 내 사주 결과 — 기기를 바꿔도 복원 (FR-21)
      description: "인증 필요(세션 쿠키). `GET /results/{resultId}` 와 같은 구조다. 응답의 `resultId` 를 브라우저 세션(`wks:session`)에 다시 보관하면 이후 기존 API 를 그대로 쓴다. 로그인 응답의 `restoredResultId` 와 같은 결과를 가리킨다(계정당 결과 1개)."
      tags: [me]
      security: [{ cookieAuth: [] }]
      responses:
        "200":
          description: 계정 결과
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResultResponse" }
        "401":
          description: UNAUTHENTICATED — 비로그인·쿠키 만료·위조
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: RESULT_NOT_FOUND — 계정에 연결된 결과가 없다
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /auth/kakao:
    post:
      operationId: loginWithKakao
      summary: (V1) 카카오 인가 코드로 로그인하고 세션 쿠키를 심는다 (FR-20 · FR-21 · NFR-7)
      description: |
        프론트가 카카오 인가 → 콜백(`redirectUri`)에서 받은 `code` 를 넘기면 백엔드가 카카오와 교환해 로그인시키고,
        JWT 를 **body 가 아니라 `Set-Cookie` 로** 내려준다. 인증이 필요 없는 API 다. 요청은 `credentials: 'include'` 로 보낸다.
        `resultId` 를 함께 보내면 결과 연결·복원 규칙(백엔드 api-spec.md §9)대로 처리한다 — 계정 결과가 항상 이긴다:
        - `resultId` 있음 · 계정 결과 없음 → 브라우저 결과를 계정에 연결, `restoredResultId: null`
        - `resultId` 있음 · 계정 결과 있음 → 계정 결과 복원(브라우저 결과는 지우지 않음), `restoredResultId` = 계정 결과 id
        - `resultId` 없음 · 계정 결과 있음 → 계정 결과 복원, `restoredResultId` = 계정 결과 id
        - 둘 다 없음 → 아무것도 하지 않음, `restoredResultId: null`
        `resultId`·`ref` 가 틀리거나 없어도 로그인은 성공한다(연결·보상만 생략). 이미 다른 계정에 연결된 `resultId` 는 연결하지 않는다.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/KakaoLoginRequest" }
      responses:
        "200":
          description: 로그인 성공 — 세션 쿠키가 심긴다
          headers:
            Set-Cookie:
              description: "[가정] `WKS_SESSION=<JWT>; HttpOnly; Secure; SameSite=None; Path=/; Max-Age=1296000`(15일, 갱신 없음). 이름은 백엔드가 정하며 프론트는 읽지 않는다. 운영(threadoffate.site ↔ api.threadoffate.site)은 같은 사이트지만 netlify·localhost 개발 origin 은 교차 사이트라 SameSite=None 이 필요하다."
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/KakaoLoginResult" }
        "400":
          description: INVALID_INPUT(`code`·`redirectUri` 누락, 등록되지 않은 `redirectUri`) · INVALID_TOKEN(인가 코드 만료·재사용·위조)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "503":
          description: KAKAO_UNAVAILABLE — 카카오 서버 오류·타임아웃. 잠시 후 다시 시도 안내
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /auth/logout:
    post:
      operationId: logout
      summary: "(V1) [가정] 세션 쿠키를 지운다"
      description: "HttpOnly 쿠키는 프론트가 지울 수 없으므로 백엔드가 같은 이름·속성에 `Max-Age=0` 으로 덮어쓴다. 쿠키가 없거나 만료돼도 200 이다(멱등). 백엔드 §9 초안은 '서버 엔드포인트 없음'이었으나 헤더 토큰 기준이라 쿠키 전환에 맞춰 더한 가정이다."
      tags: [auth]
      responses:
        "200":
          description: 로그아웃됨 — 세션 쿠키 만료
          headers:
            Set-Cookie:
              description: "[가정] `WKS_SESSION=; HttpOnly; Secure; SameSite=None; Path=/; Max-Age=0`"
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { type: "null" }
  /health:
    get:
      operationId: getHealth
      summary: 헬스체크
      tags: [health]
      responses:
        "200":
          description: UP
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data:
                    type: object
                    required: [status]
                    properties:
                      status: { type: string, const: UP }
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: WKS_SESSION
      description: "(V1) [가정] 로그인 세션 JWT. HttpOnly 라 프론트 코드는 읽지 않고 브라우저가 싣는다 — 요청은 `credentials: 'include'`. 백엔드 CORS 는 origin 을 명시하고 `Access-Control-Allow-Credentials: true` 를 줘야 한다(와일드카드 불가). 인증이 필요한 경로: /me · /me/result · (V1) 소개팅·실. 사주·궁합·공유·사전등록은 쿠키를 무시한다."
  schemas:
    Gender:
      type: string
      enum: [MALE, FEMALE]
      description: "디자인 세그먼트 '남자/여자'"
    CalendarType:
      type: string
      enum: [SOLAR, LUNAR]
      description: "달력 기준 양력/음력. 서버가 음력을 한국 음력(한국천문연구원 기준)으로 양력 변환한다. 응답·저장은 항상 양력"
    ResultRequest:
      type: object
      required: [nickname, calendarType, birthDate, birthTime, gender]
      properties:
        nickname: { type: string, minLength: 1, maxLength: 8, description: "1~8자, 공백만 불가" }
        calendarType: { $ref: "#/components/schemas/CalendarType" }
        birthDate: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$", description: "yyyy-MM-dd, 1950-01-01 ~ 오늘. LUNAR 면 음력 날짜라 음력 2월 30일처럼 양력에 없는 날도 올 수 있어 date 형식이 아니다. 화면은 숫자 8자리(YYYYMMDD)로 받는다" }
        isLeapMonth: { type: [boolean, "null"], description: "LUNAR 이고 윤달이면 true. 생략·null 이면 false. SOLAR 면 무시" }
        birthTime:
          type: [string, "null"]
          pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
          description: "HH:mm, '태어난 시간을 몰라요'면 null. 12시진 선택은 칸의 가운데 시각을 보낸다(묘시 05:30~07:30 → 06:30). 자시는 두 칸 — 00:00~01:30 → 00:45, 23:30~24:00 → 23:45. 출생 지역은 받지 않는다(서버는 서울 경도 기준)"
        gender: { $ref: "#/components/schemas/Gender" }
    ResultInput:
      description: "GET /results/{resultId}/input — `ResultRequest` 와 같은 필드(`isLeapMonth` 는 항상 온다)"
      type: object
      required: [nickname, calendarType, birthDate, isLeapMonth, birthTime, gender]
      properties:
        nickname: { type: string, minLength: 1, maxLength: 8 }
        calendarType: { $ref: "#/components/schemas/CalendarType" }
        birthDate: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$", description: "입력 원본 — 음력이면 음력 날짜" }
        isLeapMonth: { type: boolean }
        birthTime: { type: [string, "null"], pattern: "^([01]\\d|2[0-3]):[0-5]\\d$" }
        gender: { $ref: "#/components/schemas/Gender" }
    Zodiac:
      type: string
      enum: [RAT, OX, TIGER, RABBIT, DRAGON, SNAKE, HORSE, GOAT, MONKEY, ROOSTER, DOG, PIG]
      description: "십이간지 띠 — 입춘 기준이라 1~2월생은 양력 연도로 센 띠와 다를 수 있다. 프론트가 생년으로 계산하지 않는다. 캐릭터 이름·이미지는 프론트 매핑"
    Grade:
      type: string
      enum: [SS, S, A+, A, B+, B]
      description: "운세 등급 6단계(높은 순). 점수 구간 SS 94~100 · S 84~93 · A+ 74~83 · A 64~73 · B+ 52~63 · B 0~51 (2026-09-13 기획 확정). 화면은 값만 쓰고 구간을 계산하지 않는다"
    Destiny:
      type: object
      required: [title, description]
      properties:
        title: { type: string, description: "운명 제목 — 결혼·자녀·연애 상(SS/S/A+)·하(A/B+/B) 조합 8종 고정. 문구는 기획 확정 전 임시값 [미확인]. 고정 문구 '당신의 운명은'은 프론트가 표시한다" }
        description: { type: string }
    FortuneCategory:
      type: string
      enum: [MARRIAGE, CHILDREN, LOVE]
      description: 결혼운 · 자녀운 · 연애운
    Fortune:
      type: object
      required: [category, grade, content]
      properties:
        category: { $ref: "#/components/schemas/FortuneCategory" }
        grade: { $ref: "#/components/schemas/Grade" }
        content: { type: string }
    SharedResult:
      type: object
      description: "사주 팔자는 저장하되 응답에는 노출하지 않는다"
      required: [nickname, zodiac, destiny, fortunes, elements, luckyItem, luckyPlace, compatibilities]
      properties:
        nickname: { type: string }
        zodiac: { $ref: "#/components/schemas/Zodiac" }
        destiny: { $ref: "#/components/schemas/Destiny" }
        fortunes:
          type: array
          minItems: 3
          maxItems: 3
          items: { $ref: "#/components/schemas/Fortune" }
          description: "순서 고정 MARRIAGE → CHILDREN → LOVE"
        elements: { $ref: "#/components/schemas/Elements" }
        luckyItem: { type: string, description: "오늘의 행운 아이템 — 팔자 + 오늘 일진으로 계산, 매일 바뀐다" }
        luckyPlace: { type: string, description: "오늘의 행운 장소(동국대 캠퍼스 안) — 매일 바뀐다" }
        compatibilities:
          type: array
          items: { $ref: "#/components/schemas/CompatibilitySummary" }
          description: "생성 응답은 빈 배열, 조회는 궁합 생성 시각 내림차순(시각 필드는 내려오지 않는다). 상대의 생년월일·성별·resultId 는 내려오지 않는다 — 닉네임과 점수만"
    Elements:
      type: object
      description: "사주 원국의 오행 개수 — 출생 시간 입력 시 합계 8, 미입력 시 합계 6 (운영 Swagger ElementResponse, 2026-09-17 확인)"
      required: [wood, fire, earth, metal, water]
      properties:
        wood: { type: integer, minimum: 0, description: 목 }
        fire: { type: integer, minimum: 0, description: 화 }
        earth: { type: integer, minimum: 0, description: 토 }
        metal: { type: integer, minimum: 0, description: 금 }
        water: { type: integer, minimum: 0, description: 수 }
    ElementMatch:
      type: object
      required: [element, korean, reason]
      properties:
        element: { type: string, enum: [WOOD, FIRE, EARTH, METAL, WATER] }
        korean: { type: string, description: "목 화 토 금 수", examples: ["토"] }
        reason: { type: string, description: "그 오행이 잘 맞는 이유 (LLM 해설)" }
    Result:
      allOf:
        - type: object
          required: [resultId, shareId, elementMatch]
          properties:
            resultId: { type: string, format: uuid, description: "본인 결과 조회용 UUID v4" }
            shareId: { type: string, format: uuid, description: "친구 공유 URL(`/s/:shareId`)용 공개 UUID v4" }
            elementMatch:
              description: "나와 잘 맞는 오행 + 이유 (FR-3 V1, 기능명세서 3.5). 행운의 장소와 같은 보완 오행. 이유가 없는 옛 결과(V14 이전)는 null — 화면은 영역을 그리지 않는다. 공유 응답에는 없다"
              oneOf:
                - { $ref: "#/components/schemas/ElementMatch" }
                - { type: "null" }
        - { $ref: "#/components/schemas/SharedResult" }
    ResultResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/Result" }
    SharedResultResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/SharedResult" }
    CompatibilityTier:
      type: string
      enum: [GUIIN, CHALTTEOK, BEOT, SEUCHIM]
      description: "궁합 등급 — 귀인 90~100 · 찰떡 75~89 · 벗 61~74 · 스침 0~60 (2026-09-13 기획 확정). 화면은 tier 값만 쓰고 구간을 계산하지 않는다"
    CompatibilitySummary:
      # 2026-09-24 WKS-BE dev 2e615ca 대조: 결과·공유 응답의 궁합 목록은 ResultResponse.CompatibilityResponse
      # { id, nickname, score, tier, createdAt } 다 — nickname 은 조회한 결과가 아닌 쪽(상대)이다. 2026-09-15 판의
      # { originNickname, guestNickname } 는 궁합 생성 응답(CompatibilityResult)의 모양이었다. src/api/schema 는 이미 이 모양을 받는다.
      type: object
      required: [id, nickname, score, tier, createdAt]
      properties:
        id: { type: integer, format: int64, description: "궁합 ID — GET /compatibilities/{id}/reason 에 쓴다" }
        nickname: { type: string, description: "상대 닉네임" }
        score: { type: integer, minimum: 0, maximum: 100 }
        tier: { $ref: "#/components/schemas/CompatibilityTier" }
        createdAt: { type: string, format: date-time }
    CompatibilityResult:
      type: object
      required: [id, score, tier, originNickname, guestNickname]
      properties:
        id: { type: integer, format: int64, description: "궁합 ID — GET /compatibilities/{id}/reason 에 쓴다" }
        score: { type: integer, minimum: 0, maximum: 100 }
        tier: { $ref: "#/components/schemas/CompatibilityTier" }
        originNickname: { type: string, description: 링크 주인 }
        guestNickname: { type: string, description: 방문자 }
    CompatibilityResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/CompatibilityResult" }
    CompatibilityReason:
      type: object
      description: "궁합 상세 이유. 두 사람이 같은 내용을 본다"
      required: [why, together, conflict]
      properties:
        why: { type: string, description: "왜 이런 인연일까요?" }
        together: { type: string, description: "둘이 만나게 된다면?" }
        conflict: { type: string, description: "둘이 싸우게 된다면?" }
    CompatibilityReasonResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/CompatibilityReason" }
    SignupRequest:
      type: object
      required: [email, gender, preferGender]
      properties:
        email: { type: string, format: email, description: "학교 웹메일. 도메인 화이트리스트는 백엔드 설정 `app.signup.allowed-email-domains` 이고, 비어 있으면 검증을 건너뛴다 — 운영 설정값은 [미확인] (Q14)" }
        resultId: { type: [string, "null"], format: uuid, description: "사주 없이 신청하는 경로는 null. 필수가 아니다" }
        gender: { $ref: "#/components/schemas/Gender" }
        preferGender: { $ref: "#/components/schemas/Gender" }
        name: { type: [string, "null"], maxLength: 50, description: "이름. 화면에서는 필수로 받는다(FR-10)" }
        contactMethod: { $ref: "#/components/schemas/ContactMethod" }
        contactValue: { type: [string, "null"], maxLength: 100, description: "`contactMethod` 가 PHONE 이면 전화번호, INSTAGRAM 이면 계정 아이디 — 연락처는 택1 이다" }
        department: { type: [string, "null"], maxLength: 100 }
        mbti: { type: [string, "null"], pattern: "^$|^[EI][SN][TF][JP]$" }
        bio: { type: [string, "null"], maxLength: 500 }
    ContactMethod:
      type: string
      enum: [PHONE, INSTAGRAM]
      nullable: true
      description: "연락 수단 택1 — 백엔드 `ContactMethod` 와 1:1"
    PhotoUploadUrl:
      type: object
      required: [uploadUrl, photoKey, expiresInSeconds]
      properties:
        uploadUrl: { type: string, format: uri }
        photoKey: { type: string }
        expiresInSeconds: { type: integer }
    KakaoLoginRequest:
      type: object
      required: [code, redirectUri]
      properties:
        code: { type: string, description: "카카오 인가 코드" }
        redirectUri: { type: string, format: uri, description: "인가 요청에 쓴 것과 같은 값. 백엔드 화이트리스트에 등록된 주소만 허용(운영·로컬·netlify 콜백을 백엔드에 알려야 한다)" }
        resultId: { type: [string, "null"], format: uuid, description: "이 브라우저의 `wks:session` resultId. 있으면 계정에 연결·복원한다" }
        ref: { type: [string, "null"], description: "제휴 코드(FR-20). 잘못된 값은 조용히 무시된다" }
    KakaoLoginResult:
      type: object
      required: [isNewUser, restoredResultId, rewardGranted]
      description: "백엔드 §9 초안의 응답에서 `token` 만 뺐다 — 토큰은 쿠키로만 온다"
      properties:
        isNewUser: { type: boolean, description: "이번 로그인으로 계정이 새로 만들어졌으면 true" }
        restoredResultId: { type: [string, "null"], format: uuid, description: "계정 결과를 복원했으면 그 id — 프론트는 브라우저 세션을 이 값으로 교체한다. null 이면 브라우저 값을 그대로 쓴다" }
        rewardGranted:
          description: "제휴·가입 보상. 실(재화) 기능 전에는 항상 null"
          oneOf:
            - type: "null"
            - type: object
              required: [partnerName, amount]
              properties:
                partnerName: { type: string }
                amount: { type: integer, minimum: 0 }
    Me:
      type: object
      required: [memberId, hasResult, hasDatingProfile, threadBalance]
      properties:
        memberId: { type: integer }
        hasResult: { type: boolean, description: "계정에 연결된 사주 결과가 있으면 true — GET /me/result 로 받는다" }
        hasDatingProfile: { type: boolean }
        threadBalance: { type: integer, minimum: 0, description: "재화 '실' 잔액(FR-31)" }
    ResendSignupResult:
      type: object
      required: [mailSent, message]
      properties:
        mailSent: { type: boolean }
        message: { type: string }
    SignupResult:
      type: object
      required: [signupId, couponIssued, mailSent, message]
      properties:
        signupId: { type: integer }
        couponIssued: { type: boolean, description: "쿠폰 안내(FR-11)는 MVP 제외 — 화면은 이 값을 쓰지 않는다" }
        mailSent: { type: boolean, description: "false 면 재발송 안내를 노출한다" }
        message: { type: string }
    DatingPhotoUpload:
      description: "업로드 전용 주소와 사진 id (WKS-BE §10.1). `photoId` 는 프로필의 `candidateId` 와 다른 값이다"
      type: object
      required: [uploadUrl, photoId, expiresInSeconds]
      properties:
        uploadUrl: { type: string, format: uri }
        photoId: { type: string, format: uuid }
        expiresInSeconds: { type: integer }
    DatingProfileRequest:
      description: "소개팅 프로필 등록·수정 본문 (WKS-BE §10.2). 전부 필수이고 `resultId` 는 보내지 않는다"
      type: object
      required: [email, name, contactMethod, contactValue, department, mbti, bio, photoId]
      properties:
        email: { type: string, format: email, description: "학교(DGU) 메일" }
        name: { type: string }
        contactMethod: { $ref: "#/components/schemas/ContactMethod" }
        contactValue: { type: string, description: "PHONE 이면 전화번호, INSTAGRAM 이면 아이디 — 택1" }
        department: { type: string }
        mbti: { type: string, pattern: "^[EI][SN][TF][JP]$" }
        bio: { type: string }
        photoId: { type: string, format: uuid }
    DatingProfile:
      description: "등록·조회·수정의 공통 응답 (WKS-BE §10.2)"
      type: object
      required: [candidateId, email, emailVerified, name, contactMethod, contactValue, department, mbti, bio, photoId]
      properties:
        candidateId: { type: string, format: uuid, description: "소개팅 프로필 id — 상대의 추천 카드에서도 이 값으로 가리킨다" }
        email: { type: string, format: email }
        emailVerified: { type: boolean, description: "학교 메일 인증 전에는 false — 추천 조회가 403 DATING_NOT_VERIFIED 다" }
        name: { type: string }
        contactMethod: { $ref: "#/components/schemas/ContactMethod" }
        contactValue: { type: string }
        department: { type: string }
        mbti: { type: string }
        bio: { type: string }
        photoId: { type: string, format: uuid }
    ErrorCode:
      type: string
      enum: [INVALID_INPUT, RESULT_NOT_FOUND, SELF_COMPATIBILITY, COMPATIBILITY_NOT_FOUND, DUPLICATE_SIGNUP, INVALID_EMAIL_DOMAIN, INVALID_TOKEN, LLM_UNAVAILABLE, UNAUTHENTICATED, KAKAO_UNAVAILABLE, DATING_PROFILE_NOT_FOUND, DATING_PROFILE_CONFLICT, DATING_NOT_VERIFIED, DATING_REQUEST_NOT_FOUND, DATING_REQUEST_CONFLICT, INTERNAL_ERROR, NOT_FOUND]
      description: "백엔드 ErrorCode.java 와 1:1 (2026-09-24 2e615ca). HTTP — INVALID_INPUT 400 · RESULT_NOT_FOUND 404 · SELF_COMPATIBILITY 400 · COMPATIBILITY_NOT_FOUND 404 · DUPLICATE_SIGNUP 409 · INVALID_EMAIL_DOMAIN 400 · INVALID_TOKEN 400 · LLM_UNAVAILABLE 503 · UNAUTHENTICATED 401 · KAKAO_UNAVAILABLE 503 · INTERNAL_ERROR 500 · NOT_FOUND 404(없는 경로). UNAUTHENTICATED·KAKAO_UNAVAILABLE 은 로그인·인증 경로(/auth/kakao · /me) 용이다. 2026-09-25 5ec80d2 로 DATING_* 5개를 더했다 — DATING_PROFILE_NOT_FOUND 404 · DATING_PROFILE_CONFLICT 409 · DATING_NOT_VERIFIED 403 · DATING_REQUEST_NOT_FOUND 404 · DATING_REQUEST_CONFLICT 409"
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success: { type: boolean, const: false }
        error:
          type: object
          required: [code, message]
          properties:
            code: { $ref: "#/components/schemas/ErrorCode" }
            message: { type: string, description: "사용자에게 그대로 보여줄 수 있는 한국어 (보살 말투는 화면이 붙인다). INVALID_INPUT 이면 필드 메시지 — 필드 검증은 프론트가 먼저 한다" }
            traceId: { type: string, description: "장애 문의용 — 문서에는 있으나 백엔드 ErrorResponse 에 아직 없다(b61f849)" }
