# 백엔드 REST API 계약의 **참조본**이다 (source of truth 는 백엔드 저장소의 docs/api-spec.md).
# - 프론트엔드는 이 문서를 보고 구현하고, 실제 응답이 다르면 백엔드 저장소에 이슈로 올린 뒤 이 파일을 맞춘다.
# - 2026-09-13: 백엔드가 공개한 api-spec.md(Base URL /api · 공통 봉투 {success,data|error})로 통째로 교체했다 (Phase 01 T6 · Q3).
# - 2026-09-13 r2: WKS-BE dev b61f849(api-spec.md 20:49) 대조로 다시 맞췄다 — 사주 입력(calendarType·isLeapMonth, birthRegion 제거, 시진 가운데 시각·자시 두 칸),
#   결과 응답(shareId·zodiac·등급 6단계·compatibilities), 공유 경로(/shares/{shareId} 조회·궁합), traceId 미구현.
# - 디자인·PRD 에는 있으나 이 계약에 없는 것(인연카드 등급 cardGrades · 사전신청 추가 정보 Q14 · 후보 · 운명의 실)은 넣지 않았다 — PRD Open Questions.
# - 백엔드 문서가 값을 확정하지 않은 곳은 description 에 [미확인] 을 붙였다.
# - 검증 예: npx @redocly/cli lint docs/api/openapi.yaml
openapi: 3.1.0
info:
  title: 운꿰사 API (frontend reference copy)
  version: 0.2.0
  description: |
    사주 결과·친구 궁합·소개팅 사전등록을 제공하는 백엔드 API. 이 사본은 프론트엔드가 소비하는 계약의 참조본이다.
    - 모든 응답은 `{ success: true, data }` 또는 `{ success: false, error }` 봉투로 온다. HTTP 상태코드도 함께 맞춘다.
    - JSON 키는 camelCase. 날짜는 `yyyy-MM-dd`, 시각은 ISO-8601 UTC(`Z`). **null 필드도 키를 유지한다.**
    - `error.message` 는 사용자에게 그대로 보여줄 수 있는 한국어다. 문서의 `traceId` 는 백엔드 코드(ErrorResponse)에 아직 없다.
    - Swagger UI `/swagger-ui.html` · OpenAPI JSON `/v3/api-docs` 는 참고용이고 원본은 백엔드의 api-spec.md 다.
security: []   # 사주·궁합에 인증·세션이 없다 — 백엔드는 링크 키(resultId·shareId, UUIDv4)만 쓰고 토큰을 발급하지 않는다 (ADR-20260914-result-ownership-in-browser)
servers:
  - url: https://api.threadoffate.site/api
    description: "운영 (ADR-20260914-netlify-personal-fork) — 프론트 origin https://threadoffate.site·https://www.threadoffate.site 를 CORS 에 허용해야 한다. /api 접두는 백엔드 확인 전 가정 [미확인]"
  - url: http://localhost:8080/api
    description: "Local development — Base URL 은 /api. 백엔드 CORS 기본값은 http://localhost:3000 (CORS_ALLOWED_ORIGINS)"
tags:
  - name: results
    description: 사주 생성·본인 결과 조회 (운명 카드)
  - name: shares
    description: 공유 링크 — 링크 주인의 공개 결과 조회와 친구 궁합
  - name: signups
    description: 소개팅 사전등록 (학교 웹메일 매직링크 인증)
  - name: health
    description: 헬스체크
paths:
  /results:
    post:
      operationId: createResult
      summary: 사주 입력으로 결과를 만든다 — 계산 + 해석 생성 (FR-2, FR-3)
      description: "3~10초 걸릴 수 있다. 프론트는 로딩 UX 필수. 응답의 `compatibilities` 는 빈 배열이다."
      tags: [results]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResultRequest" }
      responses:
        "201":
          description: 생성됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResultResponse" }
        "400":
          description: "INVALID_INPUT — 유효성 검증 실패, 존재하지 않는 음력 날짜(그 달에 없는 30일 · 그 해에 없는 윤달) 포함"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "503":
          description: LLM_UNAVAILABLE — 해석 생성 실패
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /results/{resultId}:
    get:
      operationId: getResult
      summary: 본인 결과 재방문 조회 (FR-3, FR-8). LLM 재호출 없이 DB 에서 반환
      description: "가장 트래픽이 몰리는 엔드포인트. `luckyItem`·`luckyPlace` 는 조회 시점(오늘 일진)으로 계산하므로 날마다 다를 수 있다."
      tags: [results]
      parameters:
        - { name: resultId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: 조회됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResultResponse" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /shares/{shareId}:
    get:
      operationId: getSharedResult
      summary: 공유 링크 진입 — 링크 주인의 공개 결과와 궁합 지도 (FR-14, FR-15)
      description: "응답 구조는 결과 조회와 같지만 `resultId`·`shareId` 가 없다. 화면은 주인의 사주 요약(운명 제목·등급)을 보여주지 않는다(FR-15) — 닉네임 노출 여부는 PRD Q12."
      tags: [shares]
      parameters:
        - { name: shareId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: 조회됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SharedResultResponse" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /shares/{shareId}/compatibility:
    post:
      operationId: createCompatibility
      summary: 친구 궁합 — 방문자가 자기 사주를 만든 직후 링크 주인과의 점수를 만든다 (FR-6, FR-7, FR-14)
      description: "`{shareId}` = 링크 주인의 공개 ID, `guestResultId` = 방문자가 방금 `POST /results` 로 만든 결과. 이미 있는 조합이면 재계산 없이 기존 값을 200 으로 돌려준다. score(A,B) == score(B,A)."
      tags: [shares]
      parameters:
        - { name: shareId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guestResultId]
              properties:
                guestResultId: { type: string, format: uuid, description: "방문자가 만든 resultId" }
      responses:
        "201":
          description: 새로 산출됨
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityResponse" }
        "200":
          description: 이미 있는 조합 — 기존 값
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityResponse" }
        "400":
          description: "SELF_COMPATIBILITY (링크 주인 결과 == guestResultId) · INVALID_INPUT"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: RESULT_NOT_FOUND
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups:
    post:
      operationId: createSignup
      summary: 소개팅 사전등록 (FR-9, FR-10). 이름·전화번호는 받지 않는다
      description: "[미확인] 백엔드 코드는 컨트롤러 경로가 `/api/signup` 이고 엔드포인트가 아직 없다(b61f849) — 문서 경로 `/signups` 를 따른다. `mailSent: false` 여도 신청은 성공이다. 디자인의 추가 정보(이름·사진·연락처·학과·MBTI·자기소개)는 이 계약에 없다 — Q14."
      tags: [signups]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignupRequest" }
      responses:
        "201":
          description: 접수됨
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data: { $ref: "#/components/schemas/SignupResult" }
        "400":
          description: INVALID_EMAIL_DOMAIN (학교 웹메일 아님) · INVALID_INPUT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: DUPLICATE_SIGNUP — 이미 신청한 이메일
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups/resend:
    post:
      operationId: resendSignupMail
      summary: 인증 메일 재발송. 이미 인증 완료된 이메일이면 400
      tags: [signups]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: "재발송됨. data 형태는 [미확인]"
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean, const: true }
                  data: { description: "[미확인]" }
        "400":
          description: 이미 인증 완료 · INVALID_INPUT
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /signups/verify:
    get:
      operationId: verifySignup
      summary: 매직링크 클릭 — 성공 시 프론트 완료 페이지로 302. 브라우저가 직접 여는 링크이며 프론트가 호출하지 않는다
      description: "리다이렉트 대상은 백엔드 설정값 `app.frontend.verify-redirect-url` — 프론트 완료 페이지 경로는 [미확인] (Q14). 토큰 유효기간 30분, 사용 후 재사용 불가."
      tags: [signups]
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses:
        "302":
          description: 인증 성공 — 프론트 완료 페이지로 이동
          headers:
            Location: { schema: { type: string, format: uri } }
        "400":
          description: INVALID_TOKEN — 만료·위조·재사용
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /health:
    get:
      operationId: getHealth
      summary: 헬스체크
      tags: [health]
      responses:
        "200":
          description: UP
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, const: true }
                  data:
                    type: object
                    required: [status]
                    properties:
                      status: { type: string, const: UP }
components:
  schemas:
    Gender:
      type: string
      enum: [MALE, FEMALE]
      description: "디자인 세그먼트 '남자/여자'"
    CalendarType:
      type: string
      enum: [SOLAR, LUNAR]
      description: "달력 기준 양력/음력. 서버가 음력을 한국 음력(한국천문연구원 기준)으로 양력 변환한다. 응답·저장은 항상 양력"
    ResultRequest:
      type: object
      required: [nickname, calendarType, birthDate, birthTime, gender]
      properties:
        nickname: { type: string, minLength: 1, maxLength: 8, description: "1~8자, 공백만 불가" }
        calendarType: { $ref: "#/components/schemas/CalendarType" }
        birthDate: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$", description: "yyyy-MM-dd, 1950-01-01 ~ 오늘. LUNAR 면 음력 날짜라 음력 2월 30일처럼 양력에 없는 날도 올 수 있어 date 형식이 아니다. 화면은 숫자 8자리(YYYYMMDD)로 받는다" }
        isLeapMonth: { type: [boolean, "null"], description: "LUNAR 이고 윤달이면 true. 생략·null 이면 false. SOLAR 면 무시" }
        birthTime:
          type: [string, "null"]
          pattern: "^([01][0-9]|2[0-3]):[0-5][0-9]$"
          description: "HH:mm, '태어난 시간을 몰라요'면 null. 12시진 선택은 칸의 가운데 시각을 보낸다(묘시 05:30~07:30 → 06:30). 자시는 두 칸 — 00:00~01:30 → 00:45, 23:30~24:00 → 23:45. 출생 지역은 받지 않는다(서버는 서울 경도 기준)"
        gender: { $ref: "#/components/schemas/Gender" }
    Zodiac:
      type: string
      enum: [RAT, OX, TIGER, RABBIT, DRAGON, SNAKE, HORSE, GOAT, MONKEY, ROOSTER, DOG, PIG]
      description: "십이간지 띠 — 입춘 기준이라 1~2월생은 양력 연도로 센 띠와 다를 수 있다. 프론트가 생년으로 계산하지 않는다. 캐릭터 이름·이미지는 프론트 매핑"
    Grade:
      type: string
      enum: [SS, S, A+, A, B+, B]
      description: "운세 등급 6단계(높은 순). 점수 구간 SS 94~100 · S 84~93 · A+ 74~83 · A 64~73 · B+ 52~63 · B 0~51 (2026-09-13 기획 확정). 화면은 값만 쓰고 구간을 계산하지 않는다"
    Destiny:
      type: object
      required: [title, description]
      properties:
        title: { type: string, description: "운명 제목 — 결혼·자녀·연애 상(SS/S/A+)·하(A/B+/B) 조합 8종 고정. 문구는 기획 확정 전 임시값 [미확인]. 고정 문구 '당신의 운명은'은 프론트가 표시한다" }
        description: { type: string }
    FortuneCategory:
      type: string
      enum: [MARRIAGE, CHILDREN, LOVE]
      description: 결혼운 · 자녀운 · 연애운
    Fortune:
      type: object
      required: [category, grade, content]
      properties:
        category: { $ref: "#/components/schemas/FortuneCategory" }
        grade: { $ref: "#/components/schemas/Grade" }
        content: { type: string }
    SharedResult:
      type: object
      description: "사주 팔자는 저장하되 응답에는 노출하지 않는다"
      required: [nickname, zodiac, destiny, fortunes, luckyItem, luckyPlace, compatibilities]
      properties:
        nickname: { type: string }
        zodiac: { $ref: "#/components/schemas/Zodiac" }
        destiny: { $ref: "#/components/schemas/Destiny" }
        fortunes:
          type: array
          minItems: 3
          maxItems: 3
          items: { $ref: "#/components/schemas/Fortune" }
          description: "순서 고정 MARRIAGE → CHILDREN → LOVE"
        luckyItem: { type: string, description: "오늘의 행운 아이템 — 팔자 + 오늘 일진으로 계산, 매일 바뀐다" }
        luckyPlace: { type: string, description: "오늘의 행운 장소(동국대 캠퍼스 안) — 매일 바뀐다" }
        compatibilities:
          type: array
          items: { $ref: "#/components/schemas/CompatibilitySummary" }
          description: "생성 응답은 빈 배열, 조회는 궁합 생성 시각 내림차순(시각 필드는 내려오지 않는다). 상대의 생년월일·성별·resultId 는 내려오지 않는다 — 닉네임과 점수만"
    Result:
      allOf:
        - type: object
          required: [resultId, shareId]
          properties:
            resultId: { type: string, format: uuid, description: "본인 결과 조회용 UUID v4" }
            shareId: { type: string, format: uuid, description: "친구 공유 URL(`/s/:shareId`)용 공개 UUID v4" }
        - { $ref: "#/components/schemas/SharedResult" }
    ResultResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/Result" }
    SharedResultResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/SharedResult" }
    CompatibilityTier:
      type: string
      enum: [GUIIN, CHALTTEOK, BEOT, SEUCHIM]
      description: "궁합 등급 — 귀인 90~100 · 찰떡 75~89 · 벗 61~74 · 스침 0~60 (2026-09-13 기획 확정). 화면은 tier 값만 쓰고 구간을 계산하지 않는다"
    CompatibilitySummary:
      # 2026-09-15 WKS-BE dev 대조: 백엔드 코드(ResultResponse.compatibilities = CompatibilityResponse)와 운영 Swagger 는
      # 이 모양이다. 백엔드 api-spec.md 의 { nickname, score, tier, createdAt } 는 코드와 다르다 — 백엔드에 알린다.
      # 조회한 결과가 링크 주인(origin)인지 방문자(guest)인지는 응답에 없다 — 상대 닉네임은 내 닉네임이 아닌 쪽이다.
      type: object
      required: [score, tier, originNickname, guestNickname]
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        tier: { $ref: "#/components/schemas/CompatibilityTier" }
        originNickname: { type: string, description: 링크 주인 }
        guestNickname: { type: string, description: 방문자 }
    CompatibilityResult:
      type: object
      required: [score, tier, originNickname, guestNickname]
      properties:
        score: { type: integer, minimum: 0, maximum: 100 }
        tier: { $ref: "#/components/schemas/CompatibilityTier" }
        originNickname: { type: string, description: 링크 주인 }
        guestNickname: { type: string, description: 방문자 }
    CompatibilityResponse:
      type: object
      required: [success, data]
      properties:
        success: { type: boolean, const: true }
        data: { $ref: "#/components/schemas/CompatibilityResult" }
    SignupRequest:
      type: object
      required: [email, resultId, gender, preferGender]
      properties:
        email: { type: string, format: email, description: "학교 웹메일. 도메인 화이트리스트는 백엔드 설정 [미확인 — 목록 요청 중, Q14]" }
        resultId: { type: [string, "null"], format: uuid, description: "사주 없이 신청하는 경로는 null" }
        gender: { $ref: "#/components/schemas/Gender" }
        preferGender: { $ref: "#/components/schemas/Gender" }
    SignupResult:
      type: object
      required: [signupId, couponIssued, mailSent, message]
      properties:
        signupId: { type: integer }
        couponIssued: { type: boolean, description: "쿠폰 안내(FR-11)는 MVP 제외 — 화면은 이 값을 쓰지 않는다" }
        mailSent: { type: boolean, description: "false 면 재발송 안내를 노출한다" }
        message: { type: string }
    ErrorCode:
      type: string
      enum: [INVALID_INPUT, RESULT_NOT_FOUND, SELF_COMPATIBILITY, DUPLICATE_SIGNUP, INVALID_EMAIL_DOMAIN, INVALID_TOKEN, LLM_UNAVAILABLE, INTERNAL_ERROR, NOT_FOUND]
      description: "백엔드 ErrorCode.java 와 1:1. HTTP — INVALID_INPUT 400 · RESULT_NOT_FOUND 404 · SELF_COMPATIBILITY 400 · DUPLICATE_SIGNUP 409 · INVALID_EMAIL_DOMAIN 400 · INVALID_TOKEN 400 · LLM_UNAVAILABLE 503 · INTERNAL_ERROR 500 · NOT_FOUND 404(없는 경로)"
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success: { type: boolean, const: false }
        error:
          type: object
          required: [code, message]
          properties:
            code: { $ref: "#/components/schemas/ErrorCode" }
            message: { type: string, description: "사용자에게 그대로 보여줄 수 있는 한국어 (보살 말투는 화면이 붙인다). INVALID_INPUT 이면 필드 메시지 — 필드 검증은 프론트가 먼저 한다" }
            traceId: { type: string, description: "장애 문의용 — 문서에는 있으나 백엔드 ErrorResponse 에 아직 없다(b61f849)" }
